.Register {
    width: 450px;

   
  }
  
  .Register form {
    display: flex;
    flex-direction: column;
  }
  
  .Register form button + button {
    margin-top: 16px;
  }

  h1{
    text-align: center;
  }