@media only screen and (max-width: 600px) {
    body {
        background-color: yellow;
    }

    h1 {
        font-size: 15px;
    }
}

@media only screen and (min-width: 600px) {
    body {
        background-color: orangered;
    }
    h1 {
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: blue;
    }
}

@media only screen and (min-width: 992px) {
    body {
        background-color: greenyellow;
    }
}

@media only screen and (min-width: 992px) {
    body {
        background-color: purple;
    }

    h1 {
        font-size: 35px;
    }
}

/* h1{
    color: yellow;
} */

#meuID{
    color: yellow;
}